   
select{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#000000;
    color:white;
    font-size:16px;
    outline:none;
}
body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:url("img/judo.jpg") center center/cover no-repeat;
    min-height:100vh;
}

.container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.cadastro{
    width:380px;
    background:rgba(0,0,0,0.95);
    padding:40px;
    border-radius:20px;
    border:2px solid transparent;
    background-image:
    linear-gradient(#000,#000),
    linear-gradient(90deg,#4f46ff,#d946ef,#ff9f43);
    background-origin:border-box;
    background-clip:padding-box,border-box;
}

.cadastro h1{
    font-size:60px;
    margin-bottom:30px;
    text-align:center;
    background:linear-gradient(90deg,#4f46ff,#d946ef,#ff9f43);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.cadastro label{
    display:block;
    margin-bottom:8px;
    color:white;
}

.cadastro input,
.cadastro select{
    width:100%;
    padding:16px;
    margin-bottom:20px;
    border-radius:15px;
    border:1px solid transparent;
    background:
    linear-gradient(#000,#000) padding-box,
    linear-gradient(90deg,#4f46ff,#d946ef,#ff9f43) border-box;
    border:2px solid transparent;
    color:white;
    box-sizing:border-box;
}

.cadastro button{
    width:100%;
    padding:16px;
    border:none;
    border-radius:15px;
    font-size:24px;
    font-weight:bold;
    color:white;
    cursor:pointer;
    background:linear-gradient(90deg,#4f46ff,#d946ef,#ffb347);
}
